/* About    */
#Background--About 
{
    background-image: url("../images/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1072px;
    overflow-x: hidden;
}

.Section
{
    position:relative;
    left: -21px;
    top: -20px;
}

.Section--Intro 
{
    position: relative;
    left: 190px;
    top: -188px;
}


.Section--Education 
{
    position: relative;
    top: -92px;
    left: 50px
}


.Section--Future 
{
    position: relative;
    top: -40px;
    left: 50px
}


.About--Section_Profile 
{
    width: 150px;
    position: relative;
    left: -5px;
    height: 150px;
    margin: 39px;
    border-radius: 50%;
}


.About--Section_modal 
{
    position: relative;
    width: 1156px;
    padding: 6px; 
    margin: 97px;
    height: auto;
    left: 31px;
    top: 26px;
    background: beige;
    color: black;
}


.Footer--About 
{
    background-color: brown;
    width: 100%;
    height: 100px;
    position: relative;
    top: 94px;
}
