/* Stykesheet Information
Title: Media queries   
Author:Maciek Bajda @globealpha
Tags: Portfolio Media queries  

*/

/*  breakpoints 
496px-446px 
438px-370px 
445px-412px
412px-320px
531px-821px
*/


/* small screen 320px-513px */
@import  'media_queries-small.css';
/* medium screen 513px-720px */
@import  'media_queries-medium.css';
/* medium screen 513px-720px */
@import  'media_queries-large.css';




@media screen and (min-width: 752px) and (max-width: 834px) 
{
  .LandingDescription 
  {
    height: 28px !important;
    width: 50px;
    left: 0px;
    display: none;
  }

  .Menu 
  {
    display: none;
  }

  .HamBurger 
  {
    display: block;
    position: relative;
    top: -56px;
    left: 691px;
    font-size: 50px;
  }

  input[type='checkbox'] 
  {
    display: none;
  }

  input[type='checkbox']:checked ~ .Menu 
  {
    width: 30px;
    position: absolute;
    display: block;
    background-color: #007bb5;
    width: 100px;
    height: 200px;
    z-index: 2;
    float: none;
    left: -39px;
    top: 84px;
  }

  .Contact-Icons 
  {
    position: relative;
    left: 153px;
    top: 16px;
    display: flex;
  }
}


@media screen and (min-width: 900px) and (max-width: 1000px) 
{
  .LandingDescription 
  {
    position: relative;
    height: 228px;
    top: 216px;
    left: -1px;
    background-color: rgba(0, 0, 0, 0.85);
  }



  .ShowCaseCard 
  {
      position: absolute;
      width: 79%;
      height: 39%;
      top: 197px;
      left: 34px;
      perspective:1000px;
      transform-style: preserve-3d;
  }
  
  
 
    
  .ShowCaseCard--front 
  {
      position: absolute;
      color: yellow;
      padding: 44px;
      width: 79%;
      height: 39%;
      left:-336px;
      backdrop-filter: blur(9px);
      background: rgba(0,255,0,0.5);
      backface-visibility: hidden;
  }

    .ShowCaseCard--front_OwlerContainer
    {
      
      color: yellow;
      padding: 0;
      margin: 0;
      width: 79%;
      height: 80%;
      position: relative;
      top: -35px;
      left: 27px;
    }
  
  


  .ShowCaseCard—front_CoreSkillBadges
  {
    position:absolute;
    top: -37px;
    /* right property is -197px not -38px which means that  media queries are not being tirggered   */
    right: -38px;
  }



  

   .ShowCaseCard:hover 
   {
     animation: CardRotation 6s forwards;
     backface-visibility: hidden;
    }


  .Contact-Icons {
    position: relative;
    left: 303px;
    top: 17px;
    display: flex;
  }
}



