/* Stykesheet Information
Title: Socials Styles
Author:Maciek Bajda @globealpha
Tags: Portfolio Socials 

*/


/* Contact Icons */
  .Socials 
{
  float: right;
  left: -13px;
  position: relative;
}
  