/* Stykesheet Information
Title: Work  Styles
Author:Maciek Bajda @globealpha
Tags: Portfolio Work 
*/



body 
{
    
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    height: 100%;

}



#Work 
{
    position: relative;
    top: 36px;
    left: 84px;
}

.Project_Listing 
{
    position: relative;
    width: 300px;
    height: 200px;
    background: green;
}



#Education 
{
    position: relative;
    left: 31px;
}

#Personal 
{
    position: relative;
    left: 68px;
}


/* Tech Filters */

.JS
{
display:block;

}




.Project--Card 
{
   width: 300px;
   height: 200px;
   perspective: 1000px;
   transform-style: preserve-3d;
}

/* Hover function */

.Project--Card:hover 
{
  animation: CardRotation 6s forwards;
  backface-visibility: hidden;
 }



.Project--Card_front 
{

    position: absolute;
    left: 0px;
 
    margin-right: 50px;
    width: 250px;
    height: 412px;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;

   background: green;
    padding: 44px;
    backface-visibility: hidden;
}


.Project--Card_Back
{
    position: absolute;
    top: 0px;
    right: 0px;
    background: green;
    margin-right: 50px;
    width: 250px;
    height: 412px;
    padding:44px;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
 backface-visibility: hidden;
    transform: rotateY(180deg);

}

.Project--Card_rotate--button
{
    position: absolute;
    top: 392px;
    left: 63px;
    width: 202px;
    height: 45px;
    border-radius: inherit;
    border-color: inherit

}



.ProjectShowcase_thumbnail
{
    position: absolute;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    top: 0px;
    left:1px;
    width: 337px;
    height: 302px;
}

.FeatureDescription
{
    position: absolute;
    top: 355px;
    left: 10px; 
    width: 100%;
    height: 51%;
    border-bottom-left-radius: inherit; 
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}


.FeatureDescription_text
{
    position: relative;
    top: 276px;
    left:-36px
}



/* Filter */

.Project--Type_Filter 
{
    position: relative;
    top: 154px;
}


.Project--Type_Filter_text 
{
   display: inline-flex;padding-left: -8px;
}

.Project--Type-dropdown 
{
    position: relative;
    left: 500px;
    bottom: 57px;
}

.Work_Gallery 
{
    position: relative;
    top: 181px;
    left: 18px !important;
    display: grid;
    grid-template-columns: repeat( 3, minmax(250px, 1fr) );
    grid-template-rows:  repeat( 3, minmax(250px, 1fr) );
    grid-gap: 206px;
    height: 1398px;
}





.Project--Thumbnail 
{
    border: solid 1px white;
    /* background: white; */
    font-size: 10px;
    position: relative;
    width: 57px;
    height: 54px;
    left: 107px;
    top: -59px;
    background: white;
    border-radius: 50%;
}

.Project--Thumbnail_text
{
    position: absolute;
    width: 50px;
    left: 140px;
    top: 14px;
    font-size: 15px;
}

.Project--Title 
{
    display: inline;
    font-size: 17px;
    position: relative;
    width: 45px;
    height: 42px;
    left: 30px;
    top: -40px;
}



.Description 
{
    font-size: 9px;
    font-weight: bold;
}



h3
{
    font-size:20px;
    display: inline;
}



.Work_Footer 
{
    background-color: brown;
    width: 100%;
    top: 42px;
}


.filter-active 
{
    color: yellow;
    text-decoration: underline green;
}

.filter-inactive 
{
    color : black;
    text-decoration : none;
}


.card--filter_active
 {
    display: block;
}

.card--filter_inactive
{
 display:none;
}


.Footer--work 
{
    background-color: brown;
    width: 100%;
    height: 122px;
    position: relative;
    top: 121px;
}